<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hello Templates</title>

    <link rel="stylesheet" href="../css/style.css" type = "text/css">
</head>
<body>

<h1>Hello Spring!</h1>

<p>This site was built by <span th:text="${author}"></span></p>
<p>Height is <span th:text="${height}"></span></p>

<h2>Favorite Foods</h2>
<ul>
    <li th:each="food : ${favoriteFood}" th:text="${food}"></li>

</ul>

<h2>Sloth here</h2>

<img src="../img/sloth.jpg" height="600" width="450">

</body>
</html>